body {
    height: 100%;
    background-color: magenta;
    color: #000000;
    font-family: 'Roboto', 'Calibri', sans-serif;
    line-height: 1.5;
    margin: 0;
}

#lc {
    width: auto;
    max-width: 95vw;
    background: #000000;
    color: #FFFFFF;
    border: 15px solid black;
    border-radius: 15px;
    margin: 10px;
    position: absolute;
    transition: height 0.5s ease 0s;
    flex-direction: column;
}

#lc>div {
    overflow-y: hidden;
    scroll-behavior: smooth;
    flex-grow: 1;
    flex-basis: 50%;
    transition: all 1s ease 0s;
    height: 100%;
}

#lc::-webkit-scrollbar {
    width: 0;
}

.r {
    background-image: linear-gradient(90deg, #ff4242 0%, #ff9c39 17%, #ffff5e 34%, #58f558 51%, #6294ff 68%, #b300ff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 200%;

    -webkit-animation: Animation 3s ease infinite;
    -moz-animation: Animation 3s ease infinite;
    animation: Animation 3s ease infinite;
}

@-webkit-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes Animation {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes Animation { 
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}