body {
    height: 100%;
    background-color: magenta;
    color: #000000;
    font-family: 'Roboto', 'Calibri', sans-serif;
    line-height: 1.5;
    margin: 0;
}

#lc {
    width: auto;
    background: #000000;
    color: #FFFFFF;
    border: 15px solid black;
    border-radius: 15px;
    margin: 10px;
    position: absolute;
    overflow-y: scroll;
}

#lc::-webkit-scrollbar {
    width: 0;
}

#lc-text span {
    display: block;
}