body {
    height: 100%;
    background-color: magenta;
    color: #000000;
    font-family: 'Roboto', 'Calibri', sans-serif;
    line-height: 1.5;
    margin: 0;
}

#lc {
    width: auto;
    max-width: 95vw;
    background: #000000;
    color: #FFFFFF;
    border: 15px solid black;
    border-radius: 15px;
    margin: 10px;
    position: absolute;
    transition: height 0.5s ease 0s;
    flex-direction: column;
}

#lc>div {
    overflow-y: hidden;
    scroll-behavior: smooth;
    flex-grow: 1;
    flex-basis: 50%;
    transition: all 1s ease 0s;
    height: 100%;
}

#lc::-webkit-scrollbar {
    width: 0;
}